:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

#player-area {
  flex: 1;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#player-area > * {
  flex: 1;
}

things-scene-player {
  width: 100%;
  height: 100%;
}

things-scene-player[front] {
  background:black;
}

things-scene-player[back] {
  background:black;
}

#fab {
  position:absolute;
  right:15px;
  bottom:15px;
}

#fab[hidden] {
  display: none;
}
