fieldset{
  @apply(--things-fieldset);
}

legend{
  @apply(--things-fieldset-legend);
}

.property-grid, .checkbox-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(24px, auto);
}

.checkbox-row {
  grid-column: span 10;
}

.checkbox-row > input {
  grid-column: 4 / 5;
}

.checkbox-row > label {
  grid-column: span 6;
  text-align: left;
}

.property-grid > * {
  line-height: 1.5;
}

.property-grid > label {
  grid-column: span 3;
  text-align: right;
  text-transform: capitalize;
  line-height:2;
}

.property-grid > input,
.property-grid > table,
.property-grid > things-editor-angle-input,
.property-grid > things-editor-number-input,
.property-grid > things-editor-buttons-radio {
  grid-column: span 7;
}

.icon-label label{
  background:url(./assets/images/icon-properties-label.png) 7px -900px no-repeat;
}
.icon-label label.width    {background-position:7px   -100px !important}
.icon-label label.height   {background-position:7px       0;}
.icon-label label.rotate   {background-position:7px  -200px;}
.icon-label label.twidth   {background-position:7px  -300px;}
.icon-label label.theight  {background-position:7px  -400px;}
.icon-label label.zPos     {background-position:5px -1100px;}
.icon-label label.depth    {background-position:5px -1200px;}
.icon-label label.rotationX{background-position:5px -1298px;}
.icon-label label.rotationY{background-position:5px -1398px;}
.icon-label label.rotationZ{background-position:5px -1498px;}

things-editor-buttons-radio paper-button{
  background:url(./assets/images/icon-properties.png) no-repeat;
}
things-editor-buttons-radio paper-button[data-value="left"]   {background-position:50%    3px}
things-editor-buttons-radio paper-button[data-value="center"] {background-position:50%  -47px}
things-editor-buttons-radio paper-button[data-value="right"]  {background-position:50%  -97px}
things-editor-buttons-radio paper-button[data-value="justify"]{background-position:50% -147px}
things-editor-buttons-radio paper-button[data-value="top"]    {background-position:50% -197px}
things-editor-buttons-radio paper-button[data-value="middle"] {background-position:50% -193px}
things-editor-buttons-radio paper-button[data-value="bottom"] {background-position:50% -188px}
things-editor-buttons-radio paper-button[active]{
  border-color:#f2471c;
}

.box-padding {
  width: 100%;
}

.box-padding td{
  background:url(./assets/images/icon-properties-padding.png) 50% 0 no-repeat;
}
.box-padding tr:nth-child(1),.box-padding tr:nth-child(3){height:20px;}
.box-padding tr td:nth-child(1),.box-padding tr td:nth-child(3){width:18px;}
.box-padding .slide1{background-position:  0       0;}
.box-padding .slide2{background-position: 50%  -40px;background-color:rgba(69,46,41,.2);}
.box-padding .slide3{background-position:100% -440px;}
.box-padding .slide4{background-position:  0  -360px;background-color:rgba(69,46,41,.2);}
.box-padding .slide5{background:none;text-align:center}
.box-padding .slide6{background-position:100% -160px;background-color:rgba(69,46,41,.2);}
.box-padding .slide7{background-position:  0    100%;}
.box-padding .slide8{background-position: 50% -320px;background-color:rgba(69,46,41,.2);}
.box-padding .slide9{background-position:  0     0px;}
.box-padding things-editor-number-input{
  background-color:transparent;
  width:62px;
  margin:1px;
  padding:2px 4px 0px 4px;
  clear:both;float:initial;
}
.box-padding things-editor-number-input input{
  background-color:transparent;
  width:35px;
  margin:0px;padding:0px;
  clear:both;float:initial;
  border:1px solid #fff;
  border-width:0 0 1px 0;
  text-align:right;
  font-size:14px;
}
.slide5 things-editor-number-input:nth-child(1),.slide5 things-editor-number-input:nth-child(4){display:block;margin:auto;}
.slide5 things-editor-number-input:nth-child(2){float:left;}
.slide5 things-editor-number-input:nth-child(3){float:right;margin-top:-25px;}
.slide5 things-editor-number-input:nth-child(4){margin-top:-5px;}
