#card {
  position: relative;

  padding: 0;
  margin: 0;
  height: 100%;

  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 1.5s ease-in-out;
          transition: all 1.5s ease-in-out;
}

:host(.flipped) > #card {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

#card > [front], #card > [back] {
  margin: 0;
  padding: 0;
  background: white;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;

  color: #757575;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#card > [back] {
  background: lightgray;

  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

h1 {
  display: inline;
  margin: 16px 0;
  color: #212121;
  font-size: 16px;
}

p {
  margin: 0;
  display: inline;
  font-size: 12px;
}

img {
  display: block;
  height: 88%;
  max-width: 100%;
  margin: auto;
}

[front] > div {
  position: relative;
  bottom: -2px;
  padding: 0 10px 0 10px;
  background: lightgray;
}

[back] > div {
  padding: 10px;
}

iron-icon {
  position: absolute;
  color: gray;
  right: 5px;
  width: 16px;
  height: 16px;
}

iron-icon[create] {
  bottom: 5px;
}
