:host {
  display: flex;
  flex-direction: column;
}

div {
  --app-grid-columns: 4;
  --app-grid-item-height: 200px;

  flex: 1;
  overflow-y: auto;
  padding: 0px;
  margin: 0px;
}

board-card {
  padding: 10px;
  min-height: 200px;
  vertical-align: middle;
  font-size: 16px;
}

paper-input {
  --paper-input-container-color: lightgray;
  --paper-input-container-focus-color: lightgray;
  --paper-input-container-input-color: white;
}

@media (max-width: 1600px) {
  div {
    --app-grid-columns: 3;
  }
}

@media (max-width: 1280px) {
  div {
    --app-grid-columns: 2;
  }
}

@media (max-width: 800px) {
  div {
    --app-grid-columns: 1;
  }
}
