:host {
  display: flex;
  flex-direction: column;
}

div.app-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(0, 220px);

  overflow-y: auto;
  padding: 0 0 10px 0;
  margin: 0px;
}

board-card {
  padding: 10px;
  min-height: 200px;
  vertical-align: middle;
  font-size: 16px;
}

paper-input {
  --paper-input-container-color: lightgray;
  --paper-input-container-focus-color: lightgray;
  --paper-input-container-input-color: white;
}

@media (max-width: 1600px) {
  div.app-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1280px) {
  div.app-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  div.app-grid {
    grid-template-columns: 1fr;
  }
}
