:host {
  border-left:1px solid var(--paper-blue-grey-100);
  width: 270px;
  /* @apply(--things-properties-panel); */

  display: flex;
  flex-direction: column;
}

paper-tabs{
  @apply(--things-tabs);
}

paper-tab.iron-selected{
  background-color:var(--paper-blue-grey-50);
  border-right:1px solid rgba(0,0,0,.1);
}

paper-tabs iron-icon{
  color:var(--primary-color);
}

iron-pages{
  overflow:hidden;
  overflow-y:auto;

  flex: 1;
}

things-editor-code {
  width: 94%;
  height: 300px;
  margin: -7px 0 7px 7px;
  overflow: auto;
}
