:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-perspective: 1600px;
          perspective: 1600px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 1.5s ease-in-out;
          transition: all 1.5s ease-in-out;
}

#card > ::slotted([front]), #card > ::slotted([back]) {
  margin: 0;
  background: white;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#card > ::slotted([back]) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

:host([flipped]) div {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

:host([axis="x"]) #card > ::slotted([back]) {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

:host([axis="x"][flipped]) div {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
