<h2 onclick="event.stopPropagation()">[[group]] list</h2>

<paper-listbox data-group$="[[group]]" class="scroll">

  <template is="dom-repeat" items="[[components]]">

    <paper-item data-type$="[[item.type]]">
      <img src="[[templateIcon(item)]]">[[item.type]]
    </paper-item>
  </template>

</paper-listbox>
