:host {
  background-color: #eceff1;
  margin: 0px;
  padding: 0px;

  width: 210px;
  height: 100%;

  overflow: hidden;

  border: 2px solid var(--secondary-color);
  box-sizing: border-box;

  position: absolute;
  top: 0px;
}

h2 {
  background-color: var(--secondary-color);
  padding: 1px 5px;
  margin: 0;
  font-size: 11px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  line-height: initial;
}

.scroll {
  margin: 0;
  padding: 0;
  height: 98%;
}

paper-listbox {
  display: block;
  margin-bottom: 1% !important;
  width: 100%;
  overflow-y : auto;
}

paper-item {
  min-height: 20px;
  padding: 0 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  font-size: 11px;
  color: #666;
  text-align: left;
}

paper-listbox paper-item:focus {
  background-color: lightgray;
}

paper-item img {
  margin: 5px;
  width: 20px;
  height: 20px;
}
