<div class="node-container">
  <div class="node-row">
    <span class$="[[_computeClass(data.*)]]" on-click="toggleChildren"></span>
    <iron-icon class="node-icon" icon$="[[_computeIcon(data.icon)]]"
      on-click="select"></iron-icon>
    <span class="node-name" on-click="select">[[data.name]]</span>
    <template is="dom-if" if="[[actions]]" restamp=true>
      <paper-menu-button id="actions">
        <paper-icon-button icon="more-vert" noink slot="dropdown-trigger"></paper-icon-button>
        <paper-listbox slot="dropdown-content">
          <template is="dom-repeat" items="[[actions]]">
            <paper-item on-click="_actionClicked">[[item.label]]</paper-item>
          </template>
        </paper-listbox>
      </paper-menu-button>
    </template>
  </div>
  <template is="dom-if" if="[[data.open]]">
    <ul>
      <template is="dom-repeat" items="[[data.children]]">
        <li>
          <paper-tree-node data="[[item]]" actions="[[actions]]"></paper-tree-node>
        </li>
      </template>
    </ul>
  </template>
</div>